@{
    ViewBag.Title = "Index";
}

<!-- Inicio Bloco Cobertura -->
<section id="cobertura">
    <header class="cab-destaque">
        <img src="~/Content/img/img-coberturas.jpg" title="cobertura" alt="cobertura">
        <h2><a href="#" title="Cobertura">Cobertura</a></h2>
    </header>
    <ul>
        <li>
            <a href="#" class="cobertura" title="Galeria 1">
                <img src="~/Content/img/galeria-1.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Halloween a Noite da Mulherada Vip</p>
            </a>
        </li>
        <li>
            <a href="#" class="cobertura" title="Galeria 2">
                <img src="~/Content/img/galeria-2.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Só Elas Mandam Neles a Festa</p>
            </a>
        </li>
        <li>
            <a href="#" class="cobertura" title="Galeria 3">
                <img src="~/Content/img/galeria-3.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Biquinis Moda Praia Fest</p>
            </a>
        </li>
        <li>
            <a href="#" class="cobertura" title="Galeria 1">
                <img src="~/Content/img/galeria-1.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Halloween a Noite da Mulherada Vip</p>
            </a>
        </li>
        <li>
            <a href="#" class="cobertura" title="Galeria 2">
                <img src="~/Content/img/galeria-2.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Só Elas Mandam Neles a Festa</p>
            </a>
        </li>
        <li>
            <a href="#" class="cobertura" title="Galeria 3">
                <img src="~/Content/img/galeria-3.jpg" title="Galeria" alt="Galeria" />
                <p>10/05/2012 Biquinis Moda Praia Fest</p>
            </a>
        </li>
    </ul>
</section>
<!-- Fim Bloco Cobertura -->
<!-- Inicio Bloco Banner Publicidade -->
<div id="bloco-publicidade">
    <ul id="publicidade-banner">
        <li>
            <a href="#" class="banner-468x60" title="banner-468-60">
                <img src="~/Content/img/banner-468x60.jpg" title="Publicidade" alt="Publicidade" />
            </a>
        </li>
        <li>
            <a href="#" class="banner-468x60" title="banner-468x60">
                <img src="~/Content/img/banner-468x60.jpg" title="Publicidade" alt="Publicidade" />
            </a>
        </li>
    </ul>
</div>
<!-- Fim Bloco Banner Publicidade -->
<!-- Inicio bloco Agenda, Videos, Facebook e Publicidade -->
<section id="variados">
    <section id="bloco-agenda">
        <header class="cab-destaque">
            <img src="~/Content/img/img-agenda.jpg" title="Agenda" alt="Agenda">
            <h2><a href="#" title="Agenda">Agenda</a></h2>
        </header>
        <ul>
            <li>
                <a href="#" class="eventos-agenda" title="Eventos">
                    <img src="~/Content/img/img-galeria.jpg" title="Fotos dos Eventos" alt="Fotos dos Eventos" />
                    <div class="desc-evento">
                        <img src="~/Content/img/img-seta-agenda.jpg" title="Seta" alt="Seta" />
                        <p>10/05/2012</p>
                        <h2>Xurupitas farm a festa</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="eventos-agenda" title="Eventos">
                    <img src="~/Content/img/img-galeria.jpg" title="Fotos dos Eventos" alt="Fotos dos Eventos" />
                    <div class="desc-evento">
                        <img src="~/Content/img/img-seta-agenda.jpg" title="Seta" alt="Seta" />
                        <p>10/05/2012</p>
                        <h2>Xurupitas farm a festa</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="eventos-agenda" title="Eventos">
                    <img src="~/Content/img/img-galeria.jpg" title="Fotos dos Eventos" alt="Fotos dos Eventos" />
                    <div class="desc-evento">
                        <img src="~/Content/img/img-seta-agenda.jpg" title="Seta" alt="Seta" />
                        <p>10/05/2012</p>
                        <h2>Xurupitas farm a festa</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="eventos-agenda" title="Eventos">
                    <img src="~/Content/img/img-galeria.jpg" title="Fotos dos Eventos" alt="Fotos dos Eventos" />
                    <div class="desc-evento">
                        <img src="~/Content/img/img-seta-agenda.jpg" title="Seta" alt="Seta" />
                        <p>10/05/2012</p>
                        <h2>Xurupitas farm a festa</h2>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section id="bloco-video">
        <header class="cab-destaque">
            <img src="~/Content/img/img-video.jpg" title="Video" alt="Video">
            <h2><a href="#" title="Video">Video</a></h2>
        </header>
        <video controls="controls">
            <source src="videos/video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </section>
    <section id="bloco-face">
        <header class="cab-destaque">
            <img src="~/Content/img/img-faceb.jpg" title="Facebook" alt="Facebook">
            <h2><a href="#" title="Facebook">Facebook</a></h2>
        </header>
        <img src="~/Content/img/img-face.jpg" title="Facebook" alt="Facebook">
    </section>
    <a href="#" class="banner1-468x60" title="banner-468x60">
        <img src="~/Content/img/banner-468x60.jpg" title="Publicidade" alt="Publicidade" />
    </a>
</section>
<!-- Fim bloco Agenda, Videos, Facebook e Publicidade -->
<!-- Inicio bloco Enquete e Mural de Recados -->
<section id="bloco-enquete-mural">
    <!-- Inicio bloco Enquete -->
    <section id="bloco-enquete">
        <header class="cab-destaque">
            <img src="~/Content/img/img-enquete.jpg" title="Enquete" alt="Enquete">
            <h2><a href="#" title="Enquete">Enquete</a></h2>
        </header>
        <form id="enquete" action="#">
            <fieldset>
                <h3>Quem é o futuro Bin Laden?
                </h3>
                <ol>
                    <li>
                        <input name="op" id="op1" type="radio" /><label for="op1">Lula</label>
                    </li>
                    <li>
                        <input name="op" id="op2" type="radio" /><label for="op2">Dilma</label>
                    </li>
                    <li>
                        <input name="op" id="op3" type="radio" /><label for="op3">Ivo Cassol</label>
                    </li>
                    <li>
                        <input name="op" id="op4" type="radio" /><label for="op4">Confúcio</label>
                    </li>
                    <li>
                        <button type="submit"></button>
                    </li>
                </ol>
            </fieldset>
        </form>
    </section>
    <!-- Fim bloco Enquete -->
    <!-- Inicio bloco Mural de Recados -->
    <section id="bloco-mural">
        <header class="cab-destaque">
            <img src="~/Content/img/img-mural.jpg" title="Mural" alt="Mural">
            <h2><a href="#" title="Mural">Mural de Recados</a></h2>
        </header>
        <ul>
            <li>
                <h3>Integer pretium erat rhoncus ipsum. Nulla feugiat, nibh placerat fermentum rutrum, ante risus euismod eros, id pharetra felis justo ac tortor. Morbi sed nibh. Phasellus fringilla, pede vitae tincidunt congue, sem nibh lobortis justo, sit amet ornare nisi lectus quis lorem.Phasellus diam justo, consectetuer et, porttitor vel, bibendum id, diam. Aliquam eget nunc. Sed at velit. Aliquam bibendum eleifend enim. Sed a arcu. Aliquam eget ligula. Cras at justo. Maecenas eu neque lacinia orci ullamcorper posuere. Cras erat est, cursus sed, dignissim sed, euismod in, turpis. Praesent aliquet fermentum magna.
                </h3>
                <div>
                    <p>Postado em 00/00/00  00:00 h</p>
                    <a href="#">
                        <p>
                            De:    Mauris
                            <br>
                            Para : Aenean
                        </p>
                    </a>
                </div>
            </li>
            <li>
                <h3>Integer pretium erat rhoncus ipsum. Nulla feugiat, nibh placerat fermentum rutrum, ante risus euismod eros, id pharetra felis justo ac tortor. Morbi sed nibh. Phasellus fringilla, pede vitae tincidunt congue, sem nibh lobortis justo, sit amet ornare nisi lectus quis lorem.Phasellus diam justo, consectetuer et, porttitor vel, bibendum id, diam. Aliquam eget nunc. Sed at velit. Aliquam bibendum eleifend enim. Sed a arcu. Aliquam eget ligula. Cras at justo.
                </h3>
                <div class="post">
                    <p>Postado em 00/00/00  00:00 h</p>
                    <a href="#">
                        <p>
                            De:    Mauris
                            <br>
                            Para : Aenean
                        </p>
                    </a>
                </div>
            </li>
        </ul>
    </section>
    <!-- Fim bloco Mural de Recados -->
</section>
<!-- Fim bloco Enquete e Mural de Recados -->

