@model Dominio.QuemSomos
@{
    ViewBag.Title = "QuemSomos";
}
<div style="margin : 140px 0 0 30px">
    <h2>QuemSomos</h2>
    <div>
        <div>
           <p>@ViewBag.quemSomos</p>
        </div>
    </div>
</div>

