@{
    ViewBag.Title = "QuemSomos";
}
<div style="margin : 140px 0 0 30px">
    <h2>QuemSomos</h2>
    <div>
        <div>
           @foreach(var item in ViewBag.QuemSomos)
           {
               
                <p>item.ToString();</p>
           }
        </div>
    </div>
</div>

