@{
    ViewBag.Title = "Eventos";
}

<!-- Inicio Bloco Cobertura -->
                <section id="eventos">
                    <header class="cab-destaque">
                        <img src="~/Content/img/img-coberturas.jpg" title="cobertura" alt="cobertura">
                        <h2><a href="#" title="Eventos">Eventos</a></h2>
                    </header>
                    
                    <a href="#" class="banner-728x901"><img src="~/Content/img/banner-728x90.jpg" title="Publicidade" alt="Publicidade"></a>
                </section>    
